.nav a{
    color: #666767;
    text-decoration: none;
}
.tic-licence{
    background-color: #7dbfea;
    min-height: 100vh;
}
.can-licence{
    background-color: #1a96b7;
    min-height: 100vh;
}
.mpj-licence{
    background-color: #7f8fa6;
    min-height: 100vh;
}
.mba-licence{
    background-color: #32c0c3;
    min-height: 100vh;
}
.drt-licence{
    background-color: #c3d9e7;
    min-height: 100vh;
}
.tic-master {
    background-color: #fecd08;
    min-height: 100vh;
    
}
.can-master{
    background-color: #d0d227;
    min-height: 100vh;
}
.mpj-master{
    background-color: #f8981c;
    min-height: 100vh;
}
.mba-master{
    background-color: #f79868;
    min-height: 100vh;
}
.drt-master{
    background-color: #cdcc66;
    min-height: 105vh;
}
.img-tic{
    margin-left: -1rem;
}
.img-mpj-master{
    margin-left: -1rem;
}
.img-can-master{
margin-right: -5rem;
}
.text{
    margin-top: -98vh;
}
.tic-titre{
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
}
.text-tic{
    font-weight: 1rem;
}

.a1{
    clip-path: polygon(31% 59%, 0% 100%, 61% 100%);;
    background-color: #89c8ee;
    width: 10%;
    height: 8rem;
    margin-top: 5rem;
    margin-left: 40rem;
    position: fixed;
    -webkit-animation: spin 5s linear infinite;
}
.a2{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #89c8ee;
    width: 20%;
    height: 15rem;
    margin-left: 55rem;
    margin-top: 20rem;
    position: fixed;
    -webkit-animation: spin 10S linear infinite;
}
.a3{
    clip-path: polygon(31% 59%, 0% 100%, 61% 100%);;
    background-color: #89c8ee;
    width: 15%;
    height: 20rem;
    margin-top: 22rem;
    margin-left: 75rem;
    position: fixed;
    -webkit-animation: spin 10S linear infinite;
}
.a4{
    clip-path: polygon(31% 59%, 0% 100%, 61% 100%);;
    background-color: #89c8ee;
    width: 15%;
    height: 20rem;
    margin-left: 70rem;
    position: fixed;
    -webkit-animation: spin 10S linear infinite;
}
.a5{
    clip-path: polygon(31% 59%, 0% 100%, 61% 100%);;
    background-color: #89c8ee;
    width: 15%;
    height: 20rem;
    margin-left: 50rem;
    position: fixed;
    -webkit-animation: spin 10s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
