.navbar-toggler-icon{
    color: #189cd0 !important;
}
a {
    text-decoration: none !important;
    color: rgb(48, 47, 47);
}
.menu{
    margin-top: -1.5%;
}
.nav-connection{
    color: #189cd0 !important;
}