@font-face {
    font-family: "titre";
    src: url("../css/font_family/AaronBold.ttf");
}
/* nav */
.nav a{
    color: #666767;
    text-decoration: none;
}
  /* can */
.can {
    background-image: url("../img/univ vide-01.jpg");
    min-height: 110vh; 
    background-size: cover;
}
.can-titre{
    background-color: #204497;
    width: fit-content;
    margin-left: 10%;
    margin-top: 33%;
    text-align: center;
    font-family: "titre";
    letter-spacing: 0.5rem;
    font-size: 6rem;
    color: #ffffff;
    border-radius: 1rem;
}
.ab-can{
    color: #666767;
    margin-left: 10%;
    font-size: 1.5rem;
}
/* mpj */
.mpj {
    background-image: url("../img/univ vide-02.jpg");
    min-height: 110vh; 
    background-size: cover;
}
.mpj-titre{
    background-color: #199acb;
    width: fit-content;
    margin-left: 10%;
    margin-top: 33%;
    font-family: "titre";
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 6rem;
    color: #ffffff;
    border-radius: 1rem;
}
.ab-mpj{
    color: #666767;
    margin-left: 10%;
    font-size: 1.5rem;
}
/* tic */
.tic {
    background-image: url("../img/univ vide-03.jpg");
    min-height: 110vh; 
    background-size: cover;
}
.tic-titre{
    background-color: #075798;
    width: fit-content;
    margin-left: 10%;
    margin-top: 33%;
    font-family: "titre";
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    color: #ffffff;
    border-radius: 1rem;
}
.ab-tic{
    color: #666767;
    margin-left: 10%;
    font-size: 1.5rem;
}
@media (min-width: 100px) and (max-width: 991px) {

}
@media (min-width: 768px) and (max-width: 991.9px){

}
@media (min-width: 576px) and (max-width: 767.9px) {

}
@media (min-width: 486px) and (max-width: 575.9px){

}
@media (min-width: 200px) and (max-width: 485.9px){

}
